- @title = '- ' + @post.title
%h2= @short ? post_link(@post) : @post.title
.post-contents
  = @post.contents
.post-details
  %span.post-tags
    Tags:
    - if @post.tags.empty?
      none
    - else
      = @post.tags.collect {|t| tag_link(t).rstrip }.join(', ')
    |
    %span.post-timestamp== Posted on #{@post.timestamp}
    - if @short
      |
      - if @post.commentable
        = comments_link @post
      - else
        %span.post-comment-info Comments closed.

- unless @short
  - if @post.commentable
    %h3#comments Comments
    .post-comments
      - @post.comments.each_with_index do |c, n|
        %div.comment{:id => "comment-%s" % n}
          .comment-info
            %span.author
              - if c.website
                %a{:href => c.website, :title => "View website"}= c.author
              - else
                = c.author
            %span.timestamp
              = c.timestamp
          .comment-contents
            = c.contents
    %h3 Add your comment
    .post-add-comment
      %form{:action => request.env["REQUEST_URI"], :method => "post"}
        %p= input_field "c_author", "Name"
        %p= input_field "c_email", "E-mail"
        %p= input_field "c_website", "Website"
        %p= text_field  "c_contents", "Your comment"
        %p
          %label{:for => "c_remember"} Remember me?
          = remember_check_box
        %p
          %input{:type => "submit", :value => "Send"}

  - else
    %h3 Comments are disabled for this post.
