- if @short
  %h2
    %a{:href => "/post/#{@post.slug}", :title => "View this post"}= @post.title
- else
  %h2= @post.title
.post-contents
  = Honk.format_proc.call @post.contents
.post-details
  %span.post-tags
    Tags:
    - if @post.tags.empty?
      none
    - else
      = @post.tags.collect {|t| tag_link t }.join(', ')
    |
    %span.post-timestamp== Posted on #{@post.timestamp}
    |
    - if @post.commentable
      %span.post-comment-info Comments allowed.
    - else
      %span.post-comment-info Comments closed.

- unless @short
  .post-comments
    - if @post.commentable
      %p Comments are open for this post.
    - else
      %p Comments are closed for this post.
