!!! Strict
%html{html_attrs}
  %head
    %title== #{Honk.options.meta[:title]} #{@title}
    %meta{"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8"}
    %meta{:name => "author", :content => Honk.options.meta[:author]}
    %meta{:name => "description", :content => Honk.options.meta[:description]}
    %link{:rel => 'alternate', :type => 'application/atom+xml', :title => Honk.options.meta[:title]+' (Atom 0.3)', :href => "/atom.xml"}
    %link{:rel => 'alternate', :type => 'application/rss+xml',  :title => Honk.options.meta[:title]+' (RSS 2.0)', :href => "/rss.xml"}
    = stylesheet
  %body
    = partial :header
    #contents
      = yield
    = partial :footer
