!!! Strict
%html{html_attrs}
  %head
    %title== #{Honk.options.meta[:title]} #{@title}
    %meta{"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8"}
    %meta{:name => "author", :content => Honk.options.meta[:author]}
    %meta{:name => "description", :content => Honk.options.meta[:description]}
    = stylesheet
  %body
    = partial :header
    #contents
      = yield
    = partial :footer
